# Seattle Library Checkout Records Analysis
   * Seattle area has one of the best library system (KCLS)
   * It is assumed that people in seattle area read a lot because of the gloomy weather year round
   * There is a public dataset available of 12 years
   * The data is almost clean but the the group and subgroup of the books are not categorised fully

In [1]:
### Load data of a year
import pandas as pd
df_2017 = pd.read_csv('seattle-library-checkout-records/Checkouts_By_Title_Data_Lens_2017.csv')
df_2017.head()

,BibNumber,ItemBarcode,ItemType,Collection,CallNumber,CheckoutDateTime
0,2543647,10063298235,accd,nacd,CD 782.42166 C6606So,01/02/2017 08:13:00 AM
1,3172300,10087522552,acbk,namys,MYSTERY COTTERI 2016,01/02/2017 08:13:00 AM
2,2393405,10054483200,acbk,camys,MYSTERY MAY2006,01/02/2017 08:24:00 AM
3,3199718,10088153514,acdvd,nadvdnf,DVD 781.66092 M3347G 2013,01/02/2017 08:33:00 AM
4,3211526,10089643810,accd,nacd,CD 782.42166 Sh75o,01/02/2017 08:33:00 AM

In [3]:
df_2017['datetime'] = pd.to_datetime(df_2017['CheckoutDateTime'])
df_2017.head()

,BibNumber,ItemBarcode,ItemType,Collection,CallNumber,CheckoutDateTime,datetime
0,2543647,10063298235,accd,nacd,CD 782.42166 C6606So,01/02/2017 08:13:00 AM,2017-01-02 08:13:00
1,3172300,10087522552,acbk,namys,MYSTERY COTTERI 2016,01/02/2017 08:13:00 AM,2017-01-02 08:13:00
2,2393405,10054483200,acbk,camys,MYSTERY MAY2006,01/02/2017 08:24:00 AM,2017-01-02 08:24:00
3,3199718,10088153514,acdvd,nadvdnf,DVD 781.66092 M3347G 2013,01/02/2017 08:33:00 AM,2017-01-02 08:33:00
4,3211526,10089643810,accd,nacd,CD 782.42166 Sh75o,01/02/2017 08:33:00 AM,2017-01-02 08:33:00

In [5]:
df_2017['year'] = df_2017['datetime'].dt.year

In [7]:
df_2017['month'] = df_2017['datetime'].dt.month

In [10]:
df_2017['days'] = df_2017['datetime'].dt.day

In [11]:
df_2017['time'] = df_2017['datetime'].dt.time

In [ ]:
df_2017.month.unique()
df_2017.to_csv('time_modified_data.csv')

In [2]:
df_2017 = pd.read_csv('time_modified_data.csv')

In [3]:
df_monthly = df_2017.groupby('month').count()

In [7]:
df_monthly.BibNumber

month
1    533558
2    481788
3    541609
4    511255
5    510235
6    476595
Name: BibNumber, dtype: int64

In [6]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt

objects = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct')
y_pos = np.arange(len(objects))
performance = list(df_monthly.BibNumber)

plt.barh(y_pos, performance, align='center', alpha=0.5)
plt.yticks(y_pos, objects)
plt.xlabel('Usage')
plt.title('Programming language usage')

plt.show()

ValueError: shape mismatch: objects cannot be broadcast to a single shape